{% extends 'layout.html' %}

{% block content %}

<div>
    <div>
        <p><strong>HADITH OF THE DAY</strong></p>
        <p><strong>Text:</strong> {{ data1['text'] }}</p>
        <p><strong>Grades:</strong></p>
        <ul>
            {% for grade in data1['grades'] %}
            <li>{{ grade['name'] }}: {{ grade['grade'] }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p><strong>QURAN VERSE OF THE DAY</strong></p>
        <p><strong>Surah: </strong>{{data2['data']['surah']['number'] }} ({{ data2['data']['surah']['englishName']}}): {{data2['data']['numberInSurah']}} </p>
        <p><strong>Verse: </strong> {{data3['data']['text']}} </p>
        <p><strong>Translation: </strong> {{ data2['data']['text'] }} </p>
    </div>
    <div>
        <h1>YouTube Search Results</h1>
        <ul>
            {% for video in videos %}
                <li>
                    <h2>{{ video['snippet']['title'] }}</h2>
                    <p>{{ video['snippet']['description'] }}</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video['id']['videoId'] }}" frameborder="0" allowfullscreen></iframe>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
